body{
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: white;
    font-family: "Roboto", sans-serif, monospace;
}

.material-icons-outlined{
    vertical-align: middle;
    line-height: 1px;
    font-size: 30px;
}


.grid-container {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 0.8fr 3fr;
    grid-template-areas:
    "header header header header " 
    "section section section section " 
    "main main main main"   ;
    height: 100vh;

}
/* -------------------Header--------------------- */
.header {
    grid-area: header;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}


/* -------------Top Summary---------------- */
.Top-summary {
    grid-area: section;
     display: grid;
     grid-template-columns: 3fr 1fr;
     gap: 20px;
     /* align-items: center;  */
    justify-content: space-between;
    padding: 0 20px 0 20px;
    box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}

.main-summary{
    display: flex;
    justify-content: space-between;
}

.data-files {
    display: flex;
    justify-content: space-between;
}


/* -------------------Main--------------------- */
.main-container{
    grid-area: main;
    padding: 20px;  
    overflow-y: auto;
}


.mini-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 10px;
    margin: 20px, 0px;

}
.cards{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* padding: 10px; */
    border-radius: 5px;
}
.cards:first-child{
    background-color: aqua;
}
.cards:nth-child(2){
    background-color: blueviolet;
}
/* .cards:nth-child(3){
    background-color: rgb(43, 58, 226);
} */
.cards:nth-child(4){
    background-color: blueviolet;
}
.inner-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
 }

/* -------------3rd box (ctrlrxp,anomaly------------ */
#CtrlExp {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    margin: 0px, 0px;
   
 }
.CtrlExp-inner-cards {
    padding: 10px;
}
 
.CtrlExp-inner-cards:first-child{
    background-color: blue;
    border-radius: 5%;
}
.CtrlExp-inner-cards:nth-child(2){
    background-color: aqua;
    border-radius: 5%;
}


/* ------------CHarts-------------- */
.charts{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 30px;
    
   
    }

.charts-cards {
    padding: 10px;
    box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    border-radius: 5%;
}

#Trending{
  height: 400px;
  overflow: hidden;
}
#Author{
    height: 400px;
    overflow: hidden;
  }

